* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer,
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

footer {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

header h1{
    font-size: 60px;
}


.animation{
    height: 100vh;
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
    position: relative;
    overflow: hidden;
}
.corona{
    height: 100px;
    top: 50%;
    left: 0%;
    position: absolute;
}

.mask {
    height: 100px;
    justify-self: center;
}